@model OSLibrary.ViewModels.ProductDetail

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var color = Model.ColorSize.Keys.ToList();
}
@using System;
<div class="container catcontent">
    <!--內容-->
    <div class="row">
        <!--左邊側邊欄-->
        <div class="col-2 side">
            @{Html.RenderAction("GetCategory");}
        </div>
        <div class="col right-content">
            <!-- 右邊主要內容 -->
            <div class="row">
                <div class="col-8">
                    <!--左圖片-->
                    @foreach (var item in Model.Image)
                    {
                        <img src="@item" />
                    }
                </div>
                <div class="col-4">
                    <!--右商品細節-->
                    @*去ShoppingCart的Controller 去找 AddtoShoppingCart的 function
                        如果按下 有 type=submit button時 跑 AddtoShoppingCart的 function
                        AddtoShopingCart 的參數 都是由 name = "ID" ,"Name","color","size"
                        Color 跟 size 都是由jQuery去放值的 他如果換選擇時 會更新 input 的value*@
                    @using (Html.BeginForm("AddtoShoppingCart", "ShoppingCart"))
                    {
                        <input name="ID" type="hidden" value="@Model.ID" />
                        <input name="Name" type="hidden" value="@Model.Name" />
                        <input name="color" type="hidden" value="" />
                        <input name="size" type="hidden" value="" />
                        <h4> @Model.Name</h4>
                        <p class="price">
                            <span>@String.Format("{0:0,0}", Model.Price)</span>
                        </p>
                        <div class="input-group">
                            <div class="row">
                                <div class="col-12 mt-2 mb-3 product_color">
                                    <h5 class="mb-3">Color</h5>
                                    <ul>
                                        @foreach (var item in color)
                                        {
                                            <li class="product_li">
                                                <a href="javascript:">@item</a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="col-12 mt-2 mb-3 product_size">
                                    <h5 class="mb-3">Size</h5>
                                    <ul>
                                        @foreach (var item in Model.ColorSize[color[0]])
                                        {
                                            <li class="product_li">
                                                <a href="javascript:">@item</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-12 mt-2">
                                    <h5>Quantity</h5>
                                </div>
                                <div class="col-5">
                                    <select class="custom-select" name="quantity">
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn mt-4" type="submit">Add to Cart</button>
                        </div>

                    }
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                               aria-selected="true">
                                <p>Information</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                               aria-selected="false">
                                <p>Laundry Instruction</p>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            - 100% nylon
                            <br />- Made in Taiwan
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            - Machine wash cold
                            <br />- Do not bleach
                            <br />- Do not tumble dry
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var value = @Html.Raw(Json.Encode(Model.ColorSize));
    $('.product_color li').click(function () {
        $('.product_color li').removeClass('choose');
        let $color = $('input[name="color"]').val();
        if ($color != $(this).html()) {
            $('input[name="size"]').val("");
            $(this).addClass('choose');
            $('input[name="color"]').val($(this).find('a').html());
            $('.product_size').find("li").remove();
            let $color = $('input[name="color"]').val();
            for (let i of value[$color.toString()]) {
                console.log(i);
                $('.product_size ul').append($('<li>').addClass('product_li').html(i).click(function () {
                    //append($('<a>').attr('href', "javascript:")
                    $('.product_size li').removeClass('choose');
                    $(this).addClass('choose');
                    $('input[name="size"]').val($(this).html());
                }));
            }
        }
    });
    $('.product_size li').click(function () {
        $('.product_size li').removeClass('choose');
        $(this).addClass('choose');
        $('input[name="size"]').val($(this).html());
    });
</script>
