@model OSLibrary.ViewModels.ProductDetail

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;
<div class="container catcontent">
    <!--內容-->
    <div class="row">
        <!--左邊側邊欄-->
        <div class="col-2 side">
            @{Html.RenderAction("GetCategory");}
        </div>
        <div class="col right-content">
            <!-- 右邊主要內容 -->
            <div class="row">
                <div class="col-8">
                    <!--左圖片-->
                    @foreach (var item in Model.Image)
                    {
                        <img src="@item" />
                    }
                </div>
                <div class="col-4">
                    <!--右商品細節-->
                    @using (Html.BeginForm("AddtoShoppingCart", "ShoppingCart"))
                    {
                        <input name="ID" type="hidden" value="@Model.ID" />
                        <input name="Name" type="hidden" value="@Model.Name" />
                        <h4> @Model.Name</h4>
                        <p>
                            <span>@String.Format("{0:0,0}", Model.Price)</span>
                        </p>
                        <div class="input-group">
                            <div class="row">
                                <div class="col-12 mt-1">
                                    <h5>Color</h5>
                                </div>
                                <div class="col-5">
                                    <select class="custom-select" name="color">
                                        @foreach (var item in Model.Color)
                                        {
                                            <option>@item</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 mt-1">
                                    <h5>Size</h5>
                                </div>
                                <div class="col-5">
                                    <select class="custom-select" name="size">
                                        @foreach (var item in Model.Size)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 mt-1">
                                    <h5>Quantity</h5>
                                </div>
                                <div class="col-5">
                                    <select class="custom-select" name="quantity">
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn mt-3" type="submit">Add to Cart</button>
                        </div>

                    }
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                               aria-selected="true">
                                <p>Information</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                               aria-selected="false">
                                <p>Laundry Instruction</p>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            - 100% nylon
                            <br />- Made in Taiwan
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            - Machine wash cold
                            <br />- Do not bleach
                            <br />- Do not tumble dry
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

