 @*<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@
 

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<div class="modal fade" id="signinmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modaltitle">
            <div class="modal-header">
                <h5 class="modal-title">
                    登入
                    <small id="helpId" class="form-text text-muted">Sign in</small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8 mx-auto">
                        <div class="form-group" id="account">
                            <label>
                                帳號&nbsp;
                                <span class="signword">Account</span>
                            </label>
                            <input type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                            <label class="password">
                                密碼&nbsp;
                                <span class="signword">Password</span>
                            </label>
                            <input type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a name="" id="signin" class="btn" href="#" role="button" data-dismiss="modal">登入</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modaltitle">
            <div class="modal-header">
                <h5 class="modal-title">
                    註冊會員
                    <small id="helpId" class="form-text text-muted">Register</small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8 mx-auto">
                        <div class="form-group" id="account">
                            <label>
                                帳號&nbsp;
                                <span class="signword">Account</span>
                            </label>
                            <input type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                            <label class="password">
                                密碼&nbsp;
                                <span class="signword">Password</span>
                            </label>
                            <input type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a name="" id="signin" class="btn" href="#" role="button" data-dismiss="modal">註冊</a>
                <a name="" id="" class="btn" href="#" role="button" data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="container-fluid">
        <div class="header fixed-top">
            <div class="row">
                <div class="col">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#signinmodel">會員登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#registermodel">註冊會員</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">聯絡我們</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h2 class="title">Alan's Shop</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-menu">
                <div class="row">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#">WOMEN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">MEN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">KIDS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row content">
            @RenderBody()
        </div>
    </div>
    </div>
    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col aboutus">
                    <ul>
                        <li>
                            <a href="#">
                                <p class="footer-nav-link">關於我們</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="footer-nav-link">購物說明</p>
                            </a>
                        </li>
                    </ul>
                    <a href="#">
                        <i class="fab fa-facebook fa-2x" style="color:white"></i>
                    </a>&nbsp;
                    <a href="#">
                        <i class="fab fa-instagram fa-2x" style="color:white"></i>
                    </a>&nbsp;
                    <a href="#">
                        <i class="fab fa-line fa-2x" style="color:white"></i>
                    </a>
                </div>
                <div class="col aboutus">
                    <p>客服信箱 alansshop2018@gmail.com</p>
                    <p>客服電話 03-512-3456</p>
                    <p>週一至週五 9:00-18:00</p>
                    </br>
                </div>
            </div>
            <div class="row">
                <div class="col aboutus">
                    <p>Copyright &copy; 2018</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
