@model OnlineStore.Models.RegisterModel
@using (Html.BeginForm("Register", "Register"))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="form-group" id="account">
                    <div>
                        帳號&nbsp;
                        <span class="signword">Account</span>
                    </div>
                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                    <div class="password mt-3">
                        密碼&nbsp;
                        <span class="signword">Password</span>
                    </div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <div class="mt-3">
                        信箱&nbsp;
                        <span class="signword">Email</span>
                    </div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="submit">註冊</button>
        <button class="btn" href="#" role="button" data-dismiss="modal">取消</button>
    </div>
}