@model IEnumerable<OSLibrary.Models.Products>

@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_LayoutBackStagePage.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">主頁</a>
    </li>
    <li class="breadcrumb-item active">商品</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> 商品資料
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>名稱</th>
                        <th>性別</th>
                        <th>類別</th>
                        <th>顯示</th>
                        <th>價格</th>
                        <th>進貨</th>
                        <th>修改</th>
                        <th>刪除</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Product_ID</td>
                            <td>@item.Product_Name</td>
                            <td>@item.Gender</td>
                            <td>@item.CategoryName</td>
                            @if (item.Online == "YES")
                            {
                                <td><i style="color:green" class="far fa-circle"></i></td>
                            }
                            else
                            {
                                <td><i style="color:red" class="far fa-circle"></i></td>
                            }
                                <td>@String.Format("{0:0,0}",(decimal)item.UnitPrice)</td>
                            <td>
                                <a href="#"><i class="fas fa-clipboard-check" style="color:black"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="fas fa-pencil-alt" style="color:black"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="fas fa-trash-alt" style="color:black"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="mt-2 ml-3">
            <a href="#"><i class="fas fa-plus" style="font-size:1.5em; color:darkseagreen"></i></a>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>