@model IEnumerable<OSLibrary.ViewModels.StockDetail>

@{
    ViewBag.Title = "GetStocks";
    Layout = "~/Views/Shared/_LayoutBackStagePage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Stock details</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Stocks</li>
                    <li class="breadcrumb-item active">Stock details</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <div class="row">

        <div class="col">
            <div class="card mb-3 mt-3">
                <div class="card-header">
                    <span class="pull-right">
                        <a href="@Url.Action("CreateStock","BackStage")" class="btn btn-primary btn-sm mr-3">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                    <h3>
                        <i class="fas fa-boxes"></i> Stock details
                    </h3>
                </div>

                <div class="card-body">

                    <table id="example1" class="table table-bordered table-responsive-xl table-hover display">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Product Name</th>
                                <th>color</th>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Update</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Product_ID</td>
                                    <td>@item.Product_Name</td>
                                    <td>@item.Color</td>
                                    <td>@item.Size</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="@Url.Action("GetStock","BackStage",new { Product_ID = item.Product_ID, Color = item.Color , Size = item.Size })">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="javascript:void(0)" onclick="Purchase(@item.Product_ID,'@item.Product_Name.ToString()','@item.Color','@item.Size')">
                                            <i class="fas fa-boxes"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end card-->
        </div>
    </div>
</div>

<script>
    function Purchase(Product_ID, ProductName, Color, Size) {
        $('#model_Product_ID').val(Product_ID);
        $('#model_ProductName').val(ProductName);
        $('#model_color').val(Color);
        $('#model_size').val(Size);
        $('input[name="Qunatity"]').val("");
        $('#stock').modal();
    }
</script>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            $(document).ready(function () {
                let message = @Html.Raw(Json.Encode(TempData["Message"]));
                $('#addQuantity p').html(message);
                $('#addQuantity').modal();

            });

        TempData.Remove("Message");
    </script>
}

<div class="modal fade bd-example-modal-sm" id="stock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Purchase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <style>
                input {
                    background-color: snow;
                }
            </style>
            @using (Html.BeginForm("PurchaseQunatity", "BackStage"))
            {
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-12">
                            <input id="model_ProductName" type="text" readonly="readonly" data-parsley-trigger="change" required placeholder="Enter Product Name" class="form-control">
                        </div>
                        <div class="col-12 mt-1">
                            <input id="model_color" type="text" readonly="readonly" name="Color" data-parsley-trigger="change" required placeholder="Enter Product Name" class="form-control">
                        </div>
                        <div class="col-12 mt-1">
                            <input id="model_size" type="text" readonly="readonly" name="Size" data-parsley-trigger="change" required placeholder="Enter Product Name" class="form-control">
                        </div>
                        <div class="col-6 mt-1" style="line-height: 35px ;height: 35px;">
                            <b>Qunatity : </b>
                        </div>
                        <div class="col-6 mt-1" style="line-height: 35px ;height: 35px;">
                            <input type="number" name="Qunatity" class="form-control" aria-describedby="helpId" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="model_Product_ID" type="hidden" readonly="readonly" name="Product_ID" data-parsley-trigger="change" required placeholder="Enter Product Name" class="form-control">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
@if (TempData["stock"] != null)
{
    <script>
        console.log("?");
        let bool = "@TempData["stock"]";
        if (bool == 1) {
            swal("Purchase Stock Success!", {
                icon: "success",
            });
        }
        else {
            swal("Purchase Stock Error!", {
                icon: "error",
            });
        }

    </script>
}