@model OSLibrary.ViewModels.Person_OrderDetail

@{
    ViewBag.Title = "UpdateOrderDetail";
    Layout = "~/Views/Shared/_LayoutBackStagePage.cshtml";
}
@{
    var list = ViewBag.Products as IEnumerable<OSLibrary.ViewModels.ProductMain>;
    var items = new SelectList(list, "Product_ID", "Product_Name");
    var product_detail = ViewBag.ProductDetail as OSLibrary.ViewModels.ProductDetail;
    var Coloritems = product_detail.ColorSize.Keys.ToList();
    string test = "";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Update OrderDetail</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">OrderDetails</li>
                    <li class="breadcrumb-item active">Update OrderDetail</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <a class="btn mb-3" style="background-color:#4980B5;color:#fff;" href="#" role="button"><i class="fas fa-reply"></i>&nbsp;Back</a>
            <div class="card mb-3">
                <div class="card-header">
                    <h3>
                        <i class="far fa-edit"></i> Update OrderDetail
                    </h3>
                </div>
                <div class="card-body">
                    <form action="#" data-parsley-validate novalidate>
                        <div class="form-group">
                            <label>Product No.</label>
                            @Html.DropDownList("Product_ID", items, Model.Product_Name, new { @Class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <select name="Color" class="form-control">
                                @foreach (var item in Coloritems)
                        {
                            if (Model.Color == item)
                            {
                                <option value="@item" selected="selected">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
            }
        }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Size</label>
                            <select class="form-control">
                                @foreach (var item in product_detail.ColorSize[Model.Color])
                        {
                            if (Model.size == item)
                            {
                                <option value="@item" selected="selected">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
            }
        }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-secondary m-l-5">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card-->
        </div>
    </div>
</div>
<script>
    $('select[name=Color]').change(function () {
        let test = @product_detail.ColorSize;
        console.log(test);

   });
</script>