@model OSLibrary.ViewModels.Person_OrderDetail

@{
    ViewBag.Title = "UpdateOrderDetail";
    Layout = "~/Views/Shared/_LayoutBackStagePage.cshtml";
}
@{
    var list = ViewBag.Products as IEnumerable<OSLibrary.ViewModels.ProductMain>;
    var items = new SelectList(list, "Product_ID", "Product_Name");
    var product_detail = TempData["ProductDetail"] as OSLibrary.ViewModels.ProductDetail;
    var Coloritems = product_detail.ColorSize.Keys.ToList();
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Update OrderDetail</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">OrderDetails</li>
                    <li class="breadcrumb-item active">Update OrderDetail</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <a class="btn mb-3" style="background-color:#4980B5;color:#fff;" href="#" role="button"><i class="fas fa-reply"></i>&nbsp;Back</a>
            <div class="card mb-3">
                <div class="card-header">
                    <h3>
                        <i class="far fa-edit"></i> Update OrderDetail
                    </h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("UpdateOrderDetail", "BackStage"))
                    {
                        <div class="form-group">
                            <label>Product No.</label>
                            <select name="Product_ID" class="form-control">
                                @foreach (var item in items)
                                {
                                    if (Model.Product_ID == Convert.ToInt32(item.Value))
                                    {
                                        <option value="@item.Value" selected="selected">@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <select name="Color" class="form-control">
                                @foreach (var item in Coloritems)
                        {
                            if (Model.Color == item)
                            {
                                <option value="@item" selected="selected">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
            }
        }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Size</label>
                            <select name="size" class="form-control">
                                @foreach (var item in product_detail.ColorSize[Model.Color])
                        {
                            if (Model.size == item)
                            {
                                <option value="@item" selected="selected">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
            }
        }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <select name="Quantity" class="form-control">
                                @for (int i = 1; i <= 6; i++)
                                {
                                    if (i == Model.Quantity)
                                    {
                                        <option value="@i" selected="selected">@i</option>

                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <input type="hidden" name="Order_Details_ID" value="@Model.Order_Details_ID" />
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-secondary m-l-5">
                                Cancel
                            </button>
                        </div>
                    }
                </div>
            </div>
            <!-- end card-->
        </div>
    </div>
</div>
<script>
    $('select[name=Color]').change(function () {
        let test = @Html.Raw(Json.Encode(product_detail.ColorSize));
        changeSelectValue('select[name=size]', test[$(this).val()])
    });
    function changeSelectValue(selectname, selectvalue) {
        $(selectname).html("");
        for (var i in selectvalue) {
            $(selectname).append($('<option>').val(selectvalue[i]).html(selectvalue[i]))
        }
    }
    $('select[name=Product_ID]').change(function () {
        location.href = "@Url.Action("UpdateOrderDetail", "BackStage",new {Model.Order_Details_ID })&Product_ID=" + $(this).val();
    });
</script>

@if (TempData["UpdateOrderDetail"] != null)
{
    <script>
        console.log("?");
        let bool = "@TempData["UpdateOrderDetail"]";
        if (bool == 1) {
            swal("Update Order Detail Success!", {
                icon: "success",
            });
        }
        else {
            swal("Update Order Detail Error!", {
                icon: "error",
            });
        }

    </script>
}