@model List<OSLibrary.ViewModels.ShoppingCartDetail>

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 160px;margin-bottom:100px;">
    <!--內容-->
    <div class="row">
        <div class="col">
            <h5 class="step1">Choose the payment</h5>
        </div>
        <div class="col">
            <h5 class="step2">Complete the order</h5>
        </div>
    </div>
    <div class="row mt-3 mb-3 navbar">
        <div class="col">
            <p>Shopping Cart</p>
        </div>
        <div class="col">

        </div>
        <div class="col">
            <p>數量</p>
        </div>
        <div class="col">
            <p>單價</p>
        </div>
        <div class="col">
            <p>小計</p>
        </div>
        <div class="col">
            <p>刪除</p>
        </div>
    </div>
    <div>

        @foreach (var item in Model)
        {
            <div class="row navbox">
                <div class="col">
                    <img src='~/Images/Products/@item.imgurl' alt='' />
                </div>
                <div class="col text-left">
                    <p>
                        商品名稱 :
                        <span>@item.Name</span>
                    </p>
                    <p>
                        商品貨號 :
                        <span>@item.ProductID</span>
                    </p>
                    <p>
                        尺寸：
                        <span>@item.Size</span>
                    </p>
                    <p>
                        顏色：
                        <span>@item.Color</span>
                    </p>
                </div>
                <div class="col">
                    <select name="quantity" id="@item.ShoppingCartID">
                        @for (int i = 1; i < 7; i++)
                        {
                            if (i == item.Quantity)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
                <div class="col">
                    <p>
                        NT$
                        <span id='@(item.ShoppingCartID + "u")'>@String.Format("{0:0,0}", item.UnitPrice)</span>
                    </p>
                </div>
                <div class="col">
                    <p>
                        NT$
                        <span id='@(item.ShoppingCartID + "p")'>@String.Format("{0:0,0}", item.RowPrice)</span>
                    </p>
                </div>
                <div class="col">
                    @using (Html.BeginForm("DeleteShoppingCart", "ShoppingCart"))
                    {
                        <input type="hidden" name="shoppingCartID" value="@item.ShoppingCartID" />
                        <button type="submit" style="margin:0 auto;border:0px; background-color:rgb(255, 254, 250)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    }
                </div>
            </div>
        }

    </div>
    <div class="row mt-3 text-right">
        <div class="col-10">
            <p>金額：</p>
            <p>運費：</p>
            <p>總金額 : </p>
        </div>
        <div class="col">
            <p>
                <span class="price">@String.Format("{0:0,0}", ViewBag.totalmoney)</span>
            </p>
            <p>
                <span class="price">60</span>
            </p>
            <p>
                <span class="price">@String.Format("{0:0,0}", (ViewBag.totalmoney + 60)) </span>
            </p>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col text-right">
            <p>運送方式 / Shipping</p>
        </div>
        <div class="col">
            <select id="transport">
                <option>宅配</option>
                <option>超商取貨</option>
            </select>
        </div>
        <div class="col text-right">
            <p>付款方式 / Payment</p>
        </div>
        <div class="col">
            <select id="pay">
                <option>貨到付款</option>
                <option>信用卡</option>
                <option>超商取貨</option>
            </select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-right">
            <a href="#" class="btn">繼續購物</a>
        </div>
        <div class="col">

        </div>
        <div class="col">
            @using (Html.BeginForm("CreateOrder", "Orders"))
            {
                <input type="hidden" name="Pay" value="宅配" />
                <input type="hidden" name="Transport" value="超商取貨" />
                <button type="submit" class="btn">確定訂購</button>
            }
        </div>
    </div>
</div>

<script>
    $('select[name="quantity"]').change(function () {
        let requestData = {
            shoppingCartID: $(this).attr('id'),
            Qunatity: $(this).val()
        };
        let id = $(this).attr('id')
        $.ajax({
            url: '/ShoppingCart/UpdateShoppingCart',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (result) {
                alert(result);
            },
            success: function (result) {
                let unitprice = $('#' + id + 'u').html();
                let quantity = $('select[name="quantity"]').val();
                $('#' + id + 'p').html(unitprice * quantity);
                location.reload();
            },
            async: true,
            processData: false
        });
    });
    $('#pay').change(function () {
        $('input[name="Pay"]').val($(this).val());
    });
    $('#transport').change(function () {
        $('input[name="Transport"]').val($(this).val());
    });
</script>