@model IEnumerable<OSLibrary.ViewModels.EmployeeModel>
@{
    ViewBag.Title = "SelectEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Home")">主頁</a>
    </li>
    <li class="breadcrumb-item active">員工</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> 員工資料

    </div>
    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>帳號 </th>
                        <th>電話 </th>
                        <th>生日</th>
                        <th style=" width:35px">修改</th>
                        <th style=" width:35px">刪除</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>姓名</th>
                        <th>帳號 </th>
                        <th>電話 </th>
                        <th>生日</th>
                        <th style=" width:35px">修改</th>
                        <th style=" width:35px">刪除</th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Account</td>
                            <td>@item.Phone</td>
                            <td>@item.Birthday.ToShortDateString().ToString()</td>
                            <td class="text-center">
                                <a href="/Employees/UpdateEmployee/@item.Account">
                                    <i class="fas fa-pencil-alt" style=" color:#000"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#">
                                    <i class="fas fa-trash-alt" style=" color:#000"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
        <div class="mt-2" style=" padding-left: 15px;">
            <a href="@Url.Action("CreateEmployee","BackStageEmployee")">
                <i class="fas fa-user-plus " style="font-size:1.5em; color:darkseagreen"></i>
            </a>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

</div>

