@model OSLibrary.ViewModels.EmployeeModel
@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">主頁</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">員工</a>
    </li>
    <li class="breadcrumb-item active">修改員工資料</li>
</ol>
<div class="row">
    <div class="col-12">

        <h4 class="mt-2">修改員工資料</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="container mt-5 text-left">
                        <div class="row  ">
                            <div class="col-4 mt-2 ">
                                <b>姓名</b>
                            </div>
                            <div class="col">
                                <input class="form-control" aria-describedby="basic-addon1" type="text" value="@Model.Name">
                            </div>
                        </div>
                        <div class="row mt-3  ">
                            <div class="col-4  mt-2">
                                <b>帳號</b>
                            </div>
                            <div class="col">
                                <input class="form-control" aria-describedby="basic-addon2" type="text" value="@Model.Account">
                            </div>
                        </div>
                        <div class="row mt-3  ">
                            <div class="col-4  mt-2">
                                <b>密碼</b>
                            </div>
                            <div class="col">
                                <input class="form-control" aria-describedby="basic-addon3" type="Password" value="@Model.Password">
                            </div>
                        </div>
                        <div class="row mt-3  ">
                            <div class="col-4  mt-2">
                                <b>生日</b>
                            </div>
                            <div class="col">
                                <input class="form-control" aria-describedby="basic-addon4" type="date" value="@Model.Birthday">
                            </div>
                        </div>
                        <div class="row mt-3  ">
                            <div class="col-4  mt-2">
                                <b>信箱</b>
                            </div>
                            <div class="col">
                                <input class="form-control" aria-describedby="basic-addon5" type="text" value="@Model.Email">
                            </div>
                        </div>
                        <div class="row mt-3  ">
                            <div class="col-4  mt-2">
                                <b>電話</b>
                            </div>
                            <div class="col">
                                <input class="form-control" aria-describedby="basic-addon6" type="text" value="@Model.Phone">
                            </div>
                        </div>
                        <div class="row mt-3  ">
                            <div class="col-4  mt-2">
                                <b>地址</b>
                            </div>
                            <div class="col">
                                <input class="form-control" aria-describedby="basic-addon7" type="text" value="@Model.Address">
                            </div>
                        </div>
                        <div class="row mt-4  ">
                            <div class="col text-center">
                                <a class="btn btn-secondary btn-block" href="#">取消</a>
                            </div>
                            <div class="col text-center bmr">
                                <a class="btn btn-success btn-block" href="#">儲存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

