@model OSLibrary.ViewModels.CustomerDetail

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        padding:0;
        margin:0;
    }
</style>
<div class="container customer" style="margin-top: 160px;margin-bottom:150px; width:800px">
    <!--內容-->
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">個人資訊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#order" role="tab" aria-controls="profile" aria-selected="false">訂單</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-6">
                            <p>Name</p>
                            <input type="text" class="form-control" name="" id="" value="@Model.CustomerName" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="col-6">
                            <p>Phone</p>
                            <input type="tel" class="form-control" name="" id="" value="@Model.Phone" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="col-6">
                            <p>Email</p>
                            <input type="email" class="form-control" name="" id="" value="@Model.Email" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="col-6">
                            <p>Address</p>
                            <input type="text" class="form-control" name="" id="" value="@Model.Address" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="col-6">
                            <p>Password</p>
                            <input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="col-6">
                            <p>Confirm Password</p>
                            <input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col">
                            <button type="button" class="btn">Save</button>
                            <button type="button" class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row" style="border-bottom: 1px solid #DEE2E6">
                        <div class="col">
                            <p>No.</p>
                        </div>
                        <div class="col">
                            <p>OrderDate</p>
                        </div>
                        <div class="col">
                            <p>Total</p>
                        </div>
                        <div class="col">
                            <p>Status</p>
                        </div>
                    </div>
                    @foreach (var item in Model.Order)
                    {
                        <div class="row" style="border-bottom: 1px solid #DEE2E6;line-height:40px;">
                            <div class="col">
                                <p>@item.Order_ID</p>
                            </div>
                            <div class="col">
                                <p>@item.Order_Date.ToShortDateString()</p>
                            </div>
                            <div class="col">
                                <p class="price">@String.Format("{0:0,0}",item.Total)</p>
                            </div>
                            <div class="col">
                                <p>@item.Order_Check</p>
                            </div>
                        </div>
                    }
                    <div class="row mt-5 text-right">
                        <div class="col">
                            <button type="button" class="btn">
                                <a href="#">Home</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
