@model IEnumerable<OSLibrary.Models.Orders>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Order_ID</td>
        <td>@item.Account</td>
        <td>
            @item.Order_Date
        </td>
        <td>
            @switch (@item.Order_Check)
            {
                case 0:
                    @:New
                    break;
                case 1:
                    @:Processing
                    break;
                case 2:
                    @:Shipping
                    break;
                case 3:
                    @:Complete
                    break;
                default:
                    @:封存
                    break;
            }
        </td>
        <td>
            -
        </td>
        <td class="text-right price">
            @String.Format("{0:0,0}", @item.Total)

        </td>
        <td>
            @item.Pay
        </td>
        <td>
            @item.Transport
        </td>
        <td>
            <a class="btn btn-info btn-sm" href="@Url.Action("GetOrderDetail","Orders",new { OrderID = item.Order_ID })" role="button">
                <i class="fas fa-search"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-warning btn-sm" href="#" role="button">
                <i class="far fa-edit"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-danger btn-sm" id="del" href="#" role="button">
                <i class="far fa-trash-alt"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-sm transform" href="javascript:void(0)" onclick="ChangeStatus(@item.Order_ID,@item.Order_Check)" style="background-color:rgb(122, 209, 173)">
                <i class="fas fa-arrow-right" style="color:white"></i>
            </a>
        </td>
    </tr>
}